{% extends "base.html" %}

{% block title %}Ocean Stressors{% endblock %}

{% block page_content %}
      	<div class="row">
              <div class="col-xs-6">
		<b><p>Project director: </b>
		<ul>
		<li><A HREF="mailto:Laurent.Bopp@lsce.ipsl.fr">Laurent Bopp</A></br>
Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oporteret.
		</ul>
              </div>
              <div class="col-xs-6">
		<b><p>Data and web engineering: </b>
		<ul>
		<li><A HREF="mailto:Patrick.Brockmann@lsce.ipsl.fr">Patrick Brockmann</A></br>
Data scientist at LSCE/DRF/CEA, member of the "CalculS" group of LSCE.<br>
Research interests: Data analysis and visualization, geo-spatial web applications, geo-services architectures and data processing in high performance computing environments.<br><br>
		<li><A HREF="mailto:Cathy.Nangini@lsce.ipsl.fr">Cathy Nangini</A></br>
Data scientist at LSCE/DRF/CEA, member of the "CalculS" group of LSCE.<br>
Research interests: Data visualization and web frameworks.
		</ul>
              </div>
        </div>

{% endblock %}
