{% extends "base.html" %}

{% block title %}Ocean Stressors{% endblock %}

{% block page_content %}
	
	<div class="row">
	 	<div class="col-lg-8">
			<p class="info">
				<h2>Contributors</h2>
				<b>Paper authors</b><br>
				L. Bopp<sup>1</sup>, L. Resplandy<sup>1</sup>, J. C. Orr<sup>1</sup>, S. C. Doney<sup>8</sup>, J. P. Dunne<sup>2</sup>, M. Gehlen<sup>1</sup>, P. Halloran<sup>3</sup>, C. Heinze<sup>6,9,10</sup>, T. Ilyina<sup>4</sup>, R. Séférian<sup>1,5</sup>, J. Tjiputra<sup>6,9,10</sup>, and M. Vichi<sup>7</sup>.
    			<br>		    			
			</p>

			<p class="info">
				<sup>1</sup>IPSL/LSCE, UMR8212, CNRS-CEA-UVSQ, Gif sur Yvette, France<br>
				<sup>2</sup>Geophysical Fluid Dynamics Laboratory, NOAA, Princeton, New Jersey, USA<br>
				<sup>3</sup>Met Office Hadley Centre, Exeter, UK<br>
				<sup>4</sup>Max Planck Institute for Meteorology, Bundesstraße 53, 20146 Hamburg, Germany<br>
				<sup>5</sup>Centre National de Recherche de Météo-France, CNRM-GAME – URA1357, Toulouse, France<br>
				<sup>6</sup>Uni Klima, Uni Research AS, Bergen, Norway<br>
				<sup>7</sup>Centro Euro-Mediterraneo sui Cambiamenti Climatici, Istituto Nazionale di Geofisica e Vulcanologia, Bologna, Italy<br>
				<sup>8</sup>Woods Hole Oceanographic Institution, Woods Hole, Massachusetts, USA<br>
				<sup>9</sup>Geophysical Institute, University of Bergen, Bergen, Norway<br>
				<sup>10</sup>Bjerknes Centre for Climate Research, Bergen, Norway<br>
			</p>

			<p class="info">
				Publication: <a href='http://www.biogeosciences.net/10/6225/2013/' target='_blank'>Multiple stressors of ocean ecosystems in the 21st century: projections with CMIP5 models, doi:10.5194/bg-10-6225-2013</a>
			</p>

			<p class="info">
				Correspondence to: L. Bopp (laurent.bopp[AT]lsce[DOT]ipsl[DOT]fr)
			</p>

		</div>
	</div>

	<br>
	<div class="row">
	 	<div class="col-lg-8">
			<p class="info">
				<b>Data and web engineering</b><br>
				<a href='https://github.com/pbrockmann' target='_blank'>P. Brockmann</a><sup>1</sup>, <a href='https://github.com/katirg' target='_blank'>C. Nangini</a><sup>1</sup>, <a href='http://www.lsce.ipsl.fr/en/Phocea/Pisp/visu.php?id=18&uid=laurent.bopp' target='_blank'>L. Bopp</a><sup>1</sup>
    			<br>
			</p>
		</div>
	</div>

	<br>
	<div class="row">
	 	<div class="col-lg-8">
			<p class="info">
				<b>Acknowledgements</b><br>
				<ul>
					<li>World Climate Research Programme’s Working Group on Coupled Modelling
					<li>US Department of Energy’s Program for Climate Model Diagnosis and Intercomparison (<a href='http://cmip-pcmdi.llnl.gov/cmip5/' target='_blank'>CMIP5</a>)
					<li>IPSL modeling group
    			</ul>
			</p>
		</div>
	</div>

{% endblock %}
