{% extends "base.html" %}

{% block head %}
{{ super() }}
    <link rel='stylesheet' href="{{ url_for('static', filename = 'lib/leaflet.css') }}" />
    <script src="{{ url_for('static', filename = 'lib/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/L.Map.Sync.js') }}"></script>
    <link rel='stylesheet' href="{{ url_for('static', filename = 'lib/bokeh-0.12.3.min.css') }}" />
    <script src="{{ url_for('static', filename = 'lib/bokeh-0.12.3.min.js') }}"></script>
    <link rel='stylesheet' href="{{ url_for('static', filename = 'lib/bootstrap-toggle.min.css') }}" />
    <script src="{{ url_for('static', filename = 'lib/bootstrap-toggle.min.js') }}"></script>

    <style type='text/css'>
        .mapContainer { display: inline-block; margin-left: 10px; margin-top: 10px;}
        .title { font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; }
        .map { width: 500px; height: 250px; }
        .key { text-align: center; margin: auto; }
        .key img { max-width: 400px; max-height: 50px; }
	.leaflet-bar a, .leaflet-bar a:hover {
    		height: 16px;
    		line-height: 16px;
    		width: 16px;
	}
	.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    		font-size: 14px;
		text-indent: 0px;
	}
	#dimension{
		display: block;
	}
	.userChoices {
		display: inline-block !important;
		font-size: 12px;
		font-style: italic;
	}
	fieldset {   
		-moz-border-radius: 8px;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		border: 1px solid silver !important;
		padding: 10px !important;
		display: inline-flex !important;
	}  
	fieldset legend {   
		border-style: none;
		margin-bottom: 0px;
		width: auto;
		font-size: 14px;
	}  
	fieldset label {   
		font-weight: normal;
		padding-right: 5px;
	}  
	#timeSeries {
		position: relative;
		left: 5px;
		margin-bottom: 10px;
	} 
	#print {
		margin-bottom: 10px;
	}
	#mainTitle {
		font-weight: bold;
		position: relative;
		left: 190px;
		padding-bottom: 15px;
	}
        .ui-dialog { 
		z-index: 1000; 
	}
	.ui-dialog-titlebar-close {
    		display: none;
	}
	.ui-icon-gripsmall-diagonal-se {
		z-index: 1000 !important; 
	}
	#toggleStippling {
		width: 150px;
	}
	button {
		margin-top: 20px;
		margin-right : 10px;
	}
	@media print {
	   @page {
      		size: A4 landscape;
		position: absolute;
      		margin-top: 30px;
      		margin-left: 130px;
      		margin-bottom: 0;
      		margin-right: 0;
      		font-family: Arial,Helvetica,sans-serif;
    	   } 
           .noPrint { display: none; }
           .toPrint { display: inline !important; }
	   .leaflet-control-container { display: none; }
	   .ui-icon-gripsmall-diagonal-se { display: none; }
	}
    </style>
{% endblock %}


{% block page_content %}

<div class="noPrint">
<fieldset id="dimension" class="userChoices">
  <legend title="Select a stressor to view its intensity change under all RCP scenarios 
or select a scenario to view intensity changes of all four stressors.">Select</legend>
  <input class="dimensionInput" type="radio" name="radio-0" value="variable" checked>
  <label>a&nbsp;variable</label>
  <fieldset id="variable" class="userChoices">
    <input class="variableInput" type="radio" name="radio-1" value="SST" checked>
    <label>&delta; SST</label>
    <input class="variableInput" type="radio" name="radio-1" value="PH">
    <label>&delta; pH</label>
    <input class="variableInput" type="radio" name="radio-1" value="O2">
    <label>&delta; O2</label>
    <input class="variableInput" type="radio" name="radio-1" value="INTPP">
    <label>&delta; intPP</label>
  </fieldset>

  <input class="dimensionInput" type="radio" name="radio-0" value="scenario">
  <label>or&nbsp;a&nbsp;scenario</label>
  <fieldset id="scenario" class="userChoices">
    <input class="scenarioInput" type="radio" name="radio-2" value="RCP85" checked>
    <label>RCP 8.5</label>
    <input class="scenarioInput" type="radio" name="radio-2" value="RCP60">
    <label>RCP 6.0</label>
    <input class="scenarioInput" type="radio" name="radio-2" value="RCP45">
    <label>RCP 4.5</label>
    <input class="scenarioInput" type="radio" name="radio-2" value="RCP26">
    <label>RCP 2.6</label>
  </fieldset>
</fieldset>
<br><br>
<input id="toggleStippling" type="checkbox">

<br><br><br>
</div>

<div id="mainTitle">
Changes in stressor intensity in 2090-2099 relative to 1990-1999
</div>

{% for aDict in cmdArray -%}
<div class='mapContainer'>
   <div id='mapHeader{{ loop.index }}' class='header'>
   	<div id='title{{ loop.index }}' class='title'></div>
   </div>
   <div id='map{{ loop.index }}' class='map'></div>
   <div id='key{{ loop.index }}' class='key'><img /></div>
</div>
{% endfor -%}

<div class="toPrint" style="display: none;">
<p style="font-size: 10px !important; margin-top: 30px;">
&copy; IPSL/LSCE 2017 - Maps from http://OceanStressors.ipsl.fr<br>
Bopp, Laurent, et al. "Multiple stressors of ocean ecosystems in the 21st century: projections with CMIP5 models." (2013).<br>
DOI: 10.5194/bg-10-6225-2013
</div>

<div class="noPrint">
<br>
<button id="timeSeries" class="btn btn-default">Time series</button>
<button id="print" class="btn btn-default">Print</button>
</div>

<script type='text/javascript'>

//===============================================
var crs = L.CRS.EPSG4326;

var map = [];
var wmspyferret_var = [];
var wmspyferret_mask = [];
var frontiers = [];

var scenarioList = ['RCP85', 'RCP60', 'RCP45', 'RCP26'];
var variableList = ['SST', 'PH', 'O2', 'INTPP'];

var qualifiersDict = { 'SST': '/lev=(-INF)(-4,4,0.5)(INF)/pal=blue_orange.spk',
                       'PH':  '/lev=(-INF)(-0.5,0.5,0.05)(INF)/pal=brown_green.spk',
                       'O2':  '/lev=(-INF)(-50,50,5)(INF)/pal=darkorange_blue.spk',
                       'INTPP':  '/lev=(-INF)(-200,200,10)(INF)/pal=magenta_green.spk' };

var titleDict = {
	'SST': 'Sea surface temperature change [°C]',
        'PH': 'Sea surface pH change',
        'O2': 'Oxygen concentration change at 200-600m [&micro;mol/L]',
	'INTPP': 'Integrated net primary productivity change [gC/m2/y]' };

{% for aDict in cmdArray -%}
//===============================================
wmspyferret_var[{{ loop.index }}] = L.tileLayer.wms('/multipleOceanStressors/wmspyferret', {
        command: '{{ aDict.command }}',
        variable: '{{ aDict.variable }}',
        crs: crs,
        format: 'image/png',
        transparent: true,
        uppercase: true
});
frontiers[{{ loop.index }}] = L.tileLayer.wms('http://www.globalcarbonatlas.org:8080/geoserver/GCA/wms', {
        layers: 'GCA:GCA_frontiersCountryAndRegions',
        format: 'image/png',
        crs: crs,
        transparent: true
});
wmspyferret_mask[{{ loop.index }}] = L.tileLayer.wms('/multipleOceanStressors/wmspyferret', {
	command: 'shade/x=-180:180/y=-90:90/pal=gray/lev=(1)',
	variable: 'SIGN_VVVVV_SSSSS',
	pattern: '/var/www/html/ScientificApps/dev/forge_patrick/wms-pyferret/square.png',
	crs: crs,
	format: 'image/png',
	transparent: true,
	uppercase: true
});

map[{{ loop.index }}] = L.map('map{{ loop.index }}', {
    layers: [wmspyferret_var[{{ loop.index }}], frontiers[{{ loop.index }}], wmspyferret_mask[{{ loop.index }}]],
    crs: crs,
    center: [0,0],
    zoom: 0,
    attributionControl: false
});

// If needed control can be added with 
//L.control.layers({}, {"Sign": wmspyferret_mask[{{ loop.index }}]}).addTo(map[{{ loop.index }}]);

{% endfor %}

//===============================================
// Set up synchro between maps
{% for synchro in listSynchroMapsToSet -%}
map[{{ synchro[0] }}].sync(map[{{ synchro[1] }}]);
{% endfor %}

//===============================================
$('#dimension').on('change', function() {
	dimensionToDisplay = $('.dimensionInput:checked').val();
	variableToDisplay = $('.variableInput:checked').val();
	scenarioToDisplay = $('.scenarioInput:checked').val();

	$('#dimension').children().children().prop('disabled', true);
	$('#dimension').children().children().attr('style', 'color: gray');
	$('#'+dimensionToDisplay).children().prop('disabled', false);
	$('#'+dimensionToDisplay).children().attr('style', 'color: black');

	for (mapId = 1; mapId <= {{ nbMaps }} ; mapId++) { 
		command = 'shade/x=-180:180/y=-90:90/QQQQQ';
		variable =  'VVVVV_SSSSS';
		mask =  'SIGN_VVVVV_SSSSS';
		if (dimensionToDisplay == 'variable') {
			command = command.replace('QQQQQ', qualifiersDict[variableToDisplay]);
			variable = variable.replace('VVVVV', variableToDisplay);
			variable = variable.replace('SSSSS', scenarioList[mapId-1]);
			title = '<b>' + scenarioList[mapId-1] + '</b> &ndash; ' + titleDict[variableToDisplay];
			mask = mask.replace('VVVVV', variableToDisplay);
			mask = mask.replace('SSSSS', scenarioList[mapId-1]);
		} else { 
			command = command.replace('QQQQQ', qualifiersDict[variableList[mapId-1]]);
			variable = variable.replace('VVVVV', variableList[mapId-1]);
			variable = variable.replace('SSSSS', scenarioToDisplay);
			title = '<b>' + titleDict[variableList[mapId-1]] + '</b> &ndash; ' + scenarioToDisplay;
			mask = mask.replace('VVVVV', variableList[mapId-1]);
			mask = mask.replace('SSSSS', scenarioToDisplay);
		}
        	wmspyferret_var[mapId].setParams({ command: command, variable: variable });
        	wmspyferret_mask[mapId].setParams({ variable: mask });
		$('#title'+mapId).html(title);
		$('#key'+mapId).children('img').attr('src', '/multipleOceanStressors/wmspyferret?SERVICE=WMS&REQUEST=GetColorBar' +
								'&COMMAND=' + command +
								'&VARIABLE=' + variable);
	}

});

//===============================================
n=1;
$('#timeSeries').on('click', function() {

    xlim1 = map[1].getBounds().getEast().toFixed(2);
    xlim2 = map[1].getBounds().getWest().toFixed(2);
    ylim1 = Math.max(-90, map[1].getBounds().getSouth().toFixed(2));
    ylim2 = Math.min(map[1].getBounds().getNorth().toFixed(2), 90);
    //console.log(xlim1,xlim2);
    //console.log(ylim1,ylim2);

   $.ajax({
       url: "/multipleOceanStressors/timeSeriesDisplay",
       data: {	"VAR": "THETAO",		// to replace by current variable
		"XLIM": xlim1 + ":" + xlim2, 
             	"YLIM": ylim1 + ":" + ylim2},
       type: "GET",
       cache: false,
       dataType: 'html',
       success: function(data) {
               		//console.log(data);
    			$('body').append("<div id='ts"+n+"'>" + data + "</div>");
                   	$('#ts'+n).dialog({
                        	title: "Time Series #" + n + "   (X=" + xlim1 + ":" + xlim2 + "@AVE, Y=" + ylim1 + ":" + ylim2 + "@AVE, M=@AVE)",
                        	width: 640
                   	});
    			n++;
       		},
       error: function() {
               console.log("error");
       },
   });

});

//===============================================
$(document).on('click', '.ts_close', function() {			// element are created on the fly so need to listen events on document
	//console.log($(this).parent().parent());
	if ($(this).parent().parent().data("ui-dialog")) {		// parent().parent() because call is made from <a><button class="ts_close"></button></a> 
		//console.log("Closing ts dialog");
        	$(this).parent().parent().dialog('close');
	}
});

//===============================================
{% for aDict in cmdArray -%}
wmspyferret_mask[{{ loop.index }}].setOpacity(0);
{% endfor %}

$('#toggleStippling').bootstrapToggle({
      on: 'Stippling on',
      off: 'Stippling off',
      width: 150
});
$('#toggle-demo').bootstrapToggle('off')

$('#toggleStippling').change(function() {
      if ($(this).prop('checked')) { opacity=1 }  else  { opacity=0 }; 
{% for aDict in cmdArray -%}
      wmspyferret_mask[{{ loop.index }}].setOpacity(opacity);
{% endfor %}
});


//===============================================
$('#dimension').change();

//===============================================
$('#print').on('click', function() {
	window.print();
});

//===============================================
$('.map').resizable();
$('.map').on('resizestop', function() {
	width = $(this).width();
	height = $(this).height();
	for (mapId = 1; mapId <= {{ nbMaps }} ; mapId++) { 
		$('#map'+mapId).width(width);
		$('#map'+mapId).height(height);
		$('#mapHeader'+mapId).width(width);
                $('#key'+mapId).children('img').css('width', width + 'px');
                $('#key'+mapId).children('img').css('height', parseInt(width/8) + 'px');                // according to ratio 400/50 = 8
	}
});

</script>
{% endblock %}



