{% extends "base.html" %}

{% block page_content %}
      	<div class="row">
              <div class="col-xs-12">

		<b><p>Help: </b>

<p>
Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem, si nulla res impediat, nemo est, quin eo, quo consuevit, libentius utatur quam intractato et novo. Nec vero in hoc quod est animal, sed in iis etiam quae sunt inanima, consuetudo valet, cum locis ipsis delectemur, montuosis etiam et silvestribus, in quibus diutius commorati sumus.

              </div>

<button id="tyty" class="btn btn-default">Open</button>

<div id="dialog" title="Basic dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>

        </div>

<script type='text/javascript'>
$("#tyty").on('click', function() {
    console.log("here"); 
    $( "#dialog" ).dialog();
});


$("#dialog").on("dialogclose",function() {
	console.log("I close the dialog"); 
});

</script>

{% endblock %}
