{% extends "base.html" %}

{% block title %}Ocean Stressors{% endblock %}

{% block page_content %}

	<div class="row">
	 	<div class="col-lg-8">
	 		<h2>Multiple stressors of ocean ecosystems</h2>
			<p class="info">Here, we present an interactive interface to explore simulations published in <a href='http://www.biogeosciences.net/10/6225/2013/' target='_blank'>Bopp et al. (2013)</a> to assess how four major stressors of open ocean ecosystems could evolve over the course of the 21st century: sea surface warming, surface pH, subsurface dissolved O<sub>2</sub> concentration, and primary productivity by marine phytoplankton (NPP). </p>
		</div>
	</div>

  	<div class="row">
         <div class="col-xs-6">
         	<div id="id-fig5">
				<!-- <img width="20%" src="{{ url_for('static', filename = 'Fig4_screenshot.png') }}" /> -->
				<img height="450" width="450" src="{{ url_for('static', filename = 'Fig4_screenshot.png') }}" />
			</div>
		</div>

		<div class="col-xs-6">
         	<div id="id-fig5">
				<!-- <img width="20%" src="{{ url_for('static', filename = 'Fig5_screenshot.png') }}" /> -->
				<img height="450" width="450" width="20%" src="{{ url_for('static', filename = 'Fig5_screenshot.png') }}" />
			</div>
		</div>
	</div>

	<div class="row">
	 	<div class="col-lg-6">
			<p class="caption">Change in stressor intensity in 2090&ndash;2099 relative to 1990&ndash;1999 under RCP8.5. for the four major stressors averaged over 10 Earth system models. </p>
		</div>

		<div class="col-lg-6">
			<p class="caption">Model-mean time series of the stressors from 1870&ndash;2100 using historical and all RCP simulations.</p>
		</div>
	</div>

	<div class="row">
	 	<div class="col-lg-8">
			<br><p class="info">Navigate to "Explore/Get Data" to view simulated changes in stressor intensities under each RCP scenario plotted on synchronized, zoomable maps or as a timeseries. </p>
		</div>
	</div>

{% endblock %}
