{% extends "base.html" %}

{% block head %}
{{ super() }}
    <style type='text/css'>
 	.row {
		margin-bottom: 30px;
	}
	.figure img {
		width: 400px;
		height: 300px;
	}
	.figure-caption {
		width: 400px;
		text-align: center;
	}
    </style>
{% endblock %}

{% block page_content %}

<div class="row">
 	<div class="col-xs-8">
	 		<h3>Multiple stressors of ocean ecosystems</h3>
			<p>Here, we present an interactive interface to explore simulations published in <a href='http://www.biogeosciences.net/10/6225/2013/' target='_blank'>Bopp et al. (2013)</a> to assess how four major stressors of open ocean ecosystems could evolve over the course of the 21st century: sea surface warming, surface pH, subsurface dissolved O<sub>2</sub> concentration, and primary productivity by marine phytoplankton (NPP).</p>
	</div>
</div>

<div class="row">
        <div class="col-xs-6">
		<figure class="figure">
			<img src="{{ url_for('static', filename = 'images/Fig4_screenshot.png') }}" />
  			<figcaption class="figure-caption">Change in stressor intensity in 2090&ndash;2099 relative to 1990&ndash;1999 under RCP8.5. for the four major stressors averaged over 10 Earth system models.</figcaption>
		</figure>
	</div>

	<div class="col-xs-6">
		<figure class="figure">
			<img src="{{ url_for('static', filename = 'images/Fig5_screenshot.png') }}" />
  			<figcaption class="figure-caption">Model-mean time series of the stressors from 1870&ndash;2100 using historical and all RCP simulations.</figcaption>
	</div>
</div>

<div class="row">
	<div class="col-xs-8">
			<p>Navigate to "Explore/Download" to view simulated changes in stressor intensities under each RCP scenario plotted on synchronized, zoomable maps or as a timeseries.</p>
	</div>
</div>

{% endblock %}
